* {
  font-family: 'Raleway', sans-serif; }

p {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  text-align: center; }

header {
  height: 950px;
  background: url("../img/header-background.png") no-repeat;
  background-size: cover; }

.header--logo {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #262626;
  text-align: left; }

.nav-bar {
  position: fixed;
  width: 100%;
  background: #faf9fb;
  padding-top: 55px;
  z-index: 9999; }

.menuItem {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }
  .menuItem :active, .menuItem :visited, .menuItem :link {
    text-decoration: none;
    color: #000; }
  .menuItem :hover {
    border-top: solid 3px #ff6033; }

#home {
  padding-top: 215px; }
  #home h1 {
    font-size: 60px;
    font-weight: 900; }
  #home button {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    -webkit-box-shadow: 0 1px 1px 0 #000000;
    box-shadow: 0 1px 1px 0 #000000; }

.about {
  background: #00b1b1; }
  .about img {
    width: 100%; }
  .about h1 {
    padding-top: 180px;
    font-weight: bold;
    font-size: 90px;
    color: #fff; }
  .about p {
    font-weight: light;
    font-size: 17px;
    color: #fff; }

.services {
  background: #70bfff; }
  .services .button-group {
    margin: 150px 0; }
  .services button {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 1px 1px 0 #000000;
    box-shadow: 0 1px 1px 0 #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 100px; }
    .services button img {
      float: right;
      margin: 28px 20px; }
  .services h1 {
    background: url(../img/services-background.png);
    min-height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 130px;
    font-size: 90px;
    font-weight: bold;
    line-height: 530px;
    color: #fff;
    text-shadow: 1px 1px 1px #000000; }
    @media (max-width: 1380px) {
      .services h1 {
        padding-top: 100px;
        line-height: 89px;
        text-align: center; } }
  @media (max-width: 1340px) {
    .services span {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      max-width: 69%; } }

/*gallery start*/
.gallery {
  background: #ffe92f;
  text-align: center; }
  .gallery img {
    max-width: 100%; }

.galleryTextBox {
  color: #000; }

.galleryTextBox--title {
  font-size: 90px;
  font-weight: bold; }

.galleryTextBox--desc {
  font-weight: light;
  font-size: 17px; }

.gallery-image {
  padding: 8px; }

.subscribe {
  background-image: url("../img/subscribe-backgroud.png");
  background-repeat: no-repeat;
  background-position: right; }

.subscribe--box {
  padding: 150px 0; }

.subscribe--box--text {
  font-size: 40px;
  font-weight: bold; }

.button {
  width: 100%;
  height: 55px;
  background-color: #ff6033;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: 0 1px 1px 0 #000000;
  box-shadow: 0 1px 1px 0 #000000; }

.button--red {
  background-color: #f72b3b;
  margin-top: 50px; }

.button--green {
  background-color: #96b92c; }

.input {
  width: 100%;
  border: 1px solid #000;
  font-size: 15px;
  padding: 15px; }

.input--blue {
  background-color: #73d8d7;
  color: #fff;
  border: none;
  margin-top: 15px; }

/*placeholder*/
.input--blue::-webkit-input-placeholder {
  color: #fff; }

.input--blue:-moz-placeholder {
  /* FF 4-18 */
  color: #fff; }

.input--blue::-moz-placeholder {
  /* FF 19+ */
  color: #fff; }

.input--blue:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

.blog {
  background: #b07cf7;
  padding-bottom: 120px; }

.title {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #000; }

.title--white {
  color: #fff; }

.blog--entry {
  min-height: 310px;
  position: relative;
  background-size: cover;
  background-position: center; }

.date {
  width: 60px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  border-radius: 5px; }

.date--small {
  font-size: 21px;
  line-height: 21px; }

.blog--title {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.contact {
  background-image: url("../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px; }

.description {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  text-align: center; }

.description--white {
  color: #fff; }

.description--bold {
  font-weight: bold; }

.description--small {
  font-size: 13px;
  font-weight: lighter; }

.description--contact {
  font-weight: bold;
  text-align: left; }

.description--details {
  font-size: 20px;
  text-align: left; }

.footer {
  background-color: #262626; }

.footer-box {
  padding: 30px 0; }

.footer--logo {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #b9b9b9; }

.footer-desc {
  font-size: 16px;
  color: #b9b9b9; }
  .footer-desc :active, .footer-desc :visited, .footer-desc :link {
    color: #a82944;
    text-decoration: none; }

.footer-link {
  color: #a82944; }

/*# sourceMappingURL=main.css.map */
