*{
   font-family: 'Raleway', sans-serif; 
}

a:active, a:visited, a:link{
    text-decoration: none;
    color: #000;
}

header{
    padding-top: 55px;
    height: 950px;
    background: url('../img/header-background.png') no-repeat; 
    
}

.menuItem{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    :hover{
        border-top: solid 3px #ff6033;
    }
}
#home{
    padding-top: 215px;
   
    h1{
        font-size: 60px;
        font-weight: 900;
    }
    p{
        font-size: 17px;
        font-weight: 300;
    }
    button{
        width: 200px;
        height: 55px;
        background-color:#ff6033;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        border:none;
        -webkit-box-shadow: 0 1px 1px 0 #000000;
        box-shadow: 0 1px 1px 0 #000000;
    }
}

#about{
    
    background:#00b1b1;
    
    img{
    width:100%;
    }
    
    h1{
        padding-top:180px;
        font-weight: bold;
        font-size:90px;
        color:#fff;
        
    }
    p{
        font-weight:light;
        font-size: 17px;
        color:#fff;
    }
}